<div
  fxLayout
  fxLayout.lt-sm="column"
  class="container"
  fxLayoutAlign="space-between"
>
  <div
    class="info"
    fxFlex="1 1 30%"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <mat-icon svgIcon="logo"></mat-icon>
    <!--     <img src="/assets/img/ambulance.png" /> -->
    <h2>Sistema de Historias <a routerLink="/drivers">Drivers</a></h2>
  </div>

  <div class="login" fxFlex="1 1 30%" fxLayout fxLayoutAlign="center center">
    <amb-login></amb-login>
  </div>
</div>
