mat-toolbar {
  background-color: #039be5 !important;
  height: 80px;
}

h2 {
  font-size: 25px;
  color: white !important;
  line-height: 80px;
}

mat-icon {
  font-size: 34px;
  width: 34px;
  height: 34px;
  color: white;
}
