<mat-nav-list fxLayout="column" fxLayoutAlign="space-between">
  <div>
    <mat-list-item *ngFor="let menu of listMenu">
      <a [routerLink]="menu.url">
        <button mat-icon-button>
          <mat-icon [svgIcon]="menu.icon"></mat-icon>
          <span *ngIf="expanded">{{ menu.title }}</span>
        </button>
      </a>
    </mat-list-item>
  </div>
  <div>
    <mat-list-item>
      <button mat-icon-button color="accent" (click)="toggleExpand()">
        <mat-icon *ngIf="expanded">arrow_back_ios</mat-icon>
        <mat-icon *ngIf="!expanded">arrow_forward_ios</mat-icon>
      </button>
    </mat-list-item>
  </div>
</mat-nav-list>
