<mat-nav-list fxLayout="column" fxLayoutAlign="space-between">
  <div>
    <mat-list-item>
      <a routerLink="/dashboard">
        <button mat-icon-button>
          <mat-icon>face</mat-icon>
          <span *ngIf="expanded">Dashboard</span>
        </button>
      </a>
    </mat-list-item>
    <mat-list-item>
      <a routerLink="/histories">
        <button mat-icon-button>
          <mat-icon>face</mat-icon>
          <span *ngIf="expanded">Historias</span>
        </button>
      </a>
    </mat-list-item>
    <mat-list-item>
      <a routerLink="/medics">
        <button mat-icon-button>
          <mat-icon>face</mat-icon>
          <span *ngIf="expanded">Médicos</span>
        </button>
      </a>
    </mat-list-item>
    <mat-list-item>
      <a routerLink="/drivers">
        <button mat-icon-button>
          <mat-icon>face</mat-icon>
          <span *ngIf="expanded">Pilotos</span>
        </button>
      </a>
    </mat-list-item>
    <mat-list-item>
      <a routerLink="/users">
        <button mat-icon-button>
          <mat-icon>face</mat-icon>
          <span *ngIf="expanded">Usuarios</span>
        </button>
      </a>
    </mat-list-item>
  </div>
  <div>
    <mat-list-item>
      <button mat-icon-button color="accent" (click)="toggleExpand()">
        <mat-icon *ngIf="expanded">arrow_back_ios</mat-icon>
        <mat-icon *ngIf="!expanded">arrow_forward_ios</mat-icon>
      </button>
    </mat-list-item>
  </div>
</mat-nav-list>
