<div
  *ngIf="!isUsingWebCam"
  class="container"
  upload
  (onHover)="statusHover = $event"
  (onUpload)="fileUpload($event)"
  [ngClass]="{ hover: statusHover }"
  (click)="executeLoadImage()"
  #photo
></div>
<webcam
  *ngIf="isUsingWebCam"
  [height]="207"
  [width]="168"
  (imageCapture)="capturePhotoFromWeb($event)"
  [trigger]="triggerAsObservable()"
  mirrorImage="never"
></webcam>
<p *ngIf="!isUsingWebCam">Arrastre una imagen al rectángulo superior</p>
<div>
  <mat-slide-toggle
    color="primary"
    [checked]="isUsingWebCam"
    (change)="changeOriginPhoto($event)"
  >
    Usar webcam
  </mat-slide-toggle>
  <button
    mat-icon-button
    color="primary"
    *ngIf="isUsingWebCam"
    (click)="takePhoto()"
  >
    <mat-icon>add_a_photo</mat-icon>
  </button>
</div>

<input type="file" #file (change)="selectImage($event)" />
