<mat-toolbar fxLayout fxLayoutAlign="space-between center">
  <h3>{{ title }}</h3>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<mat-dialog-content>
  <form fxLayout="column" [formGroup]="group">
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input type="text" matInput formControlName="nombre" required id="name" />
    </mat-form-field>
    <div fxLayout fxLayoutAlign="end" fxLayoutGap="10px">
      <button
        mat-raised-button
        color="primary"
        type="button"
        [disabled]="group.invalid"
        (click)="save()"
        id="save"
      >
        Grabar
      </button>
      <button mat-button type="button" color="primary" mat-dialog-close>
        Cancelar
      </button>
    </div>
  </form>
</mat-dialog-content>
